<div class="eventListDiv">
    <div class="tableHeader">
        <h2>Events List</h2>
        <button  mat-raised-button color="primary" (click)="goToAddEvent()">Add Event</button>
    </div>

    <table mat-table [dataSource]="events" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let event">{{ event.name }}</td>
      </ng-container>
      <ng-container matColumnDef="eventDate">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let event">{{ event.eventDate }}</td>
      </ng-container>
      <ng-container matColumnDef="noOfBenificiar">
        <th mat-header-cell *matHeaderCellDef>No of Beneficiar</th>
        <td mat-cell *matCellDef="let event">{{ event.noOfBenificiar }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['name', 'eventDate', 'noOfBenificiar']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'eventDate', 'noOfBenificiar']"></tr>
    </table>
  </div>
  