<div class="navbar ">
    <div class="logo" routerLink="/adminDashboard">
        <img src="/assets/nssLogo.png" width="60" height="60">
        <p>National Service Scheme</p>
    </div>
    <div class="headerData">
        <div>
            <a routerLink="/">Home</a>
        </div>
        <ng-container *ngIf="isAdminSection">
            <div>
                <a routerLink="adminDashboard/displayEvents">Events</a>
            </div>
            <div>
                <a routerLink="adminDashboard/displayVolunteer">Volunteer</a>
            </div>
          </ng-container>
          <ng-container *ngIf="!isAdminSection">
            <div>
                <a routerLink="/admin">Admin</a>
            </div>
          </ng-container>
    </div>
</div>