<div class="navbar ">
    <div class="logo" routerLink="/adminDashboard">
        <img src="/assets/nssLogo.png" width="60" height="60">
        <p>National Service Scheme</p>
    </div>
    <div class="headerData">
        <div>
            <a routerLink="/adminDashboard/displayEvents">Events</a>
        </div>
        <div>
            <a routerLink="/adminDashboard/displayVolunteer">Volunteer</a>
        </div>
        <!-- <div>
            <a routerLink="/user">User</a>
        </div> -->
    </div>
</div>