<div class="addEventDiv">
  <h2>Add Event</h2>
  <form class="addEventForm" [formGroup]="addEventForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Event Name</mat-label>
      <input formControlName="eventName" matInput>
      <mat-error *ngIf="addEventForm.controls['eventName'].invalid && addEventForm.controls['eventName'].touched">
        Please enter a valid Event Name.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Event Date</mat-label>
      <input type="date" formControlName="eventDate" matInput>
      <mat-error *ngIf="addEventForm.controls['eventDate'].invalid && addEventForm.controls['eventDate'].touched">
        Please enter a valid Event Date.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Venue</mat-label>
      <input formControlName="venue" matInput>
      <mat-error *ngIf="addEventForm.controls['venue'].invalid && addEventForm.controls['venue'].touched">
        Please enter a valid venue.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>No. of Beneficiaries</mat-label>
      <input type="number" formControlName="noOfBeneficiar" matInput>
      <mat-error *ngIf="addEventForm.controls['noOfBeneficiar'].invalid && addEventForm.controls['noOfBeneficiar'].touched">
        Please enter a valid Number.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Content</mat-label>
      <textarea matInput formControlName="content"></textarea>
      <mat-error *ngIf="addEventForm.controls['content'].invalid && addEventForm.controls['content'].touched">
        Please enter a valid content.
      </mat-error>
    </mat-form-field>
      <div>
        <h2>Participants</h2>
        <table  class="table" border="1px">
          <thead>
            <th>Select</th>
              <th>VEC</th>
              <th>Name</th>
              <th>DOB</th>
          </thead>
          <tbody>
              <tr *ngFor="let user of volunteer">
                <td><input  type="checkbox" [checked]="isSelected(user)" (change)="toggleSelection(user)"></td>
                  <td>{{user.vec}}</td>
                  <td>{{user.name}}</td>
                  <td>{{user.DOB}}</td>
              </tr>
          </tbody>
      </table>
      <div>
        <h4>Selected Users:</h4>
        <ul>
          <li *ngFor="let user of selectedUsers">{{ user.name }}</li>
        </ul>
      </div>
      </div>

      <input type="file" formControlName="imagePath" #imagePath class="inputImage">
      <mat-error *ngIf="addEventForm.controls['imagePath'].invalid && addEventForm.controls['imagePath'].touched">
        Please enter a valid imagePath.
      </mat-error>
      <button type="submit" mat-raised-button color="primary">Create Event</button>

      </form>
      
</div>
