<div class="addEventDiv">
  <h2>Add Event</h2>
  <form class="addEventForm" [formGroup]="addEventForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Event Name</mat-label>
      <input formControlName="eventName" matInput>
      <mat-error *ngIf="addEventForm.controls['eventName'].invalid && addEventForm.controls['eventName'].touched">
        Please enter a valid Event Name.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Event Date</mat-label>
      <input type="date" formControlName="eventDate" matInput>
      <mat-error *ngIf="addEventForm.controls['eventDate'].invalid && addEventForm.controls['eventDate'].touched">
        Please enter a valid Event Date.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Venue</mat-label>
      <input formControlName="venue" matInput>
      <mat-error *ngIf="addEventForm.controls['venue'].invalid && addEventForm.controls['venue'].touched">
        Please enter a valid venue.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>No. of Beneficiaries</mat-label>
      <input type="number" formControlName="noOfBeneficiar" matInput>
      <mat-error *ngIf="addEventForm.controls['noOfBeneficiar'].invalid && addEventForm.controls['noOfBeneficiar'].touched">
        Please enter a valid Number.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Content</mat-label>
      <textarea matInput formControlName="content"></textarea>
      <mat-error *ngIf="addEventForm.controls['content'].invalid && addEventForm.controls['content'].touched">
        Please enter a valid content.
      </mat-error>
    </mat-form-field>
      <div class="participantTable">
        <h2>Participants</h2>
        <mat-table [dataSource]="paginatedVolunteers" class="mat-elevation-z8 ">
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let user">
              <mat-checkbox [checked]="isSelected(user)" (change)="toggleSelection(user)"></mat-checkbox>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="vec">
            <mat-header-cell *matHeaderCellDef>VEC</mat-header-cell>
            <mat-cell *matCellDef="let user">{{ user.vec }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let user">{{ user.name }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="dob">
            <mat-header-cell *matHeaderCellDef>DOB</mat-header-cell>
            <mat-cell *matCellDef="let user">{{ user.DOB }}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="['select', 'vec', 'name', 'dob']"></mat-header-row>
          <mat-row *matRowDef="let user; columns: ['select', 'vec', 'name', 'dob']"></mat-row>
        </mat-table>
        
      <mat-paginator  [length]="volunteer.length" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
      <div>
        <h4>Selected Volunteers:</h4>
        <ul>
          <li *ngFor="let user of selectedUsers">{{ user.name }}</li>
        </ul>
      </div>
      </div>

      <input type="file" formControlName="imagePath" #imagePath class="inputImage">
      <mat-error *ngIf="addEventForm.controls['imagePath'].invalid && addEventForm.controls['imagePath'].touched">
        Please enter a valid imagePath.
      </mat-error>
      <button type="submit" mat-raised-button color="primary">Create Event</button>

      </form>
      
</div>
