.addEventDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    padding-bottom: 5rem;

}
h2{
    text-align: center;
    padding: 1rem;
}
.addEventForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    align-items: center;
   
}
.addEventForm mat-form-field{
    width: 100%;
}
.inputImage{
    padding: 1rem;
}
.table{
    width: 95%;
    border: 1px solid black;
    margin: 1.5rem;
    text-align: center;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
