<div class="volunteerListDiv">
    <div class="tableHeader">
        <h2>Volunteer List</h2>
        <button mat-raised-button color="primary" (click)="goToAddVolunteer()">Add Volunteer</button>
    </div>

    <table mat-table [dataSource]="volunteer" class="mat-elevation-z8">
      <ng-container matColumnDef="vec">
        <th mat-header-cell *matHeaderCellDef>VEC</th>
        <td mat-cell *matCellDef="let user">{{ user.vec }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let user">{{ user.name }}</td>
      </ng-container>
      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef>DOB</th>
        <td mat-cell *matCellDef="let user">{{ user.DOB }}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['vec', 'name', 'dob']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['vec', 'name', 'dob']"></tr>
    </table>
  </div>
  