<div class="volunteerListDiv">
  <div class="tableHeader">
    <h2>Volunteer List</h2>
    <button mat-raised-button color="primary" (click)="goToAddVolunteer()">Add Volunteer</button>
  </div>
  <div class="search">
    <mat-form-field class="example-full-width">
      <input matInput type="text" [(ngModel)]="searchText" (input)="filterVolunteers()" placeholder="Search by VEC or Name">
    </mat-form-field>
    <button mat-raised-button color="primary" *ngIf="searchText" (click)="clearSearch()">Clear</button>
  </div>
  <table class="mat-elevation-z8 volunteerTable">
    <thead>
      <tr>
        <th>VEC</th>
        <th>Name</th>
        <th>DOB</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of getPaginatedVolunteers()">
        <tr>
          <td>{{ user.vec }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.DOB }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <div class="pagination">
    <button mat-raised-button color="primary" (click)="previousPage()" [disabled]="currentPage === 0">Previous</button>
    <span>{{ currentPage + 1 }} / {{ getTotalPages() }}</span>
    <button mat-raised-button color="primary" (click)="nextPage()" [disabled]="currentPage === getTotalPages() - 1">Next</button>
  </div>
</div>
