<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  
<div class="showNumbers">
    <div id="numberOfVolunteer" class="showNumber">{{eventCount}} Events</div>
    <div id="numberOfEvents" class="showNumber">{{volunteerCount}} Volunteer</div>
    <div id="numberOfBenificiar" class="showNumber">{{benificiarCount}}  Benificiaries</div>
  </div>

<div class="showLink">
    <diV class="showLinkDiv">

    <div>
        <a routerLink="/adminDashboard/addEvent">Add Event</a>
    </div><br>
    <div>
        <a routerLink="/adminDashboard/addVolunteer">Add Volunteer</a>
    </div><br>
    <div>
        <a routerLink="/adminDashboard/displayEvents">Display Events </a>
    </div><br>
    <div>
        <a routerLink="/adminDashboard/displayVolunteer">Display Volunteers</a>
    </div><br>
            
    </diV>
    <div>
        
    </div>
</div>
