<div class="showNumbers">
    <div id="numberOfVolunteer" class="showNumber">{{eventCount}} Events</div>
    <div id="numberOfEvents" class="showNumber">{{volunteerCount}} Volunteer</div>
    <div id="numberOfBenificiar" class="showNumber">{{benificiarCount}}  Benificiaries</div>
  </div>

<div>
    <div>
        <a routerLink="/">Add Event</a>
    </div>
    <div>
        <a routerLink="/admin">Add Volunteer</a>
    </div>
    <div>
        <a routerLink="/">Display Events </a>
    </div>
    <div>
        <a routerLink="/admin">Display Volunteers</a>
    </div>
</div>
