<div class="formDiv">
  <div class="formContainer">
    <h1>Admin Login</h1>
<form [formGroup]="adminForm" (ngSubmit) = "onSubmit(username.value, password.value)">
    <mat-form-field class="formField">
        
        <mat-label>User Name</mat-label>
        <input #username matInput name="userName">
      </mat-form-field><br>
      <mat-form-field class="formField">
        <mat-label>Enter your password</mat-label>
        <input #password name="password"class="password" matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field><br>
      <button mat-raised-button type="submit" color="primary">Login</button>
</form>

</div>
<div class="imageDiv"></div>
</div>