
<div class="eventDivMain">
    <h2>Events</h2>
    <div class="eventDiv">
        <div  *ngFor="let event of events.data.events">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>{{ event.name }}</mat-card-title>
                </mat-card-header>
                <img mat-card-image [src]="event.imagePath" alt="{{ event.name }}">
                <mat-card-content>
                  <p>
                    {{ event.content }}
                  </p>
                </mat-card-content>
              </mat-card>
              
          </div>
          
    </div>
   
</div>


