
<div class="eventDivMain" id="eventDivMain">
    <h2>Events</h2>
<form>
  <mat-form-field>
    <mat-label>venue</mat-label>
    <mat-select [(ngModel)]="selectedValue" (ngModelChange)="searchAccording()" name="food">
      <div *ngFor="let venue of venue" >
        <mat-option  *ngIf="venue.state != null"[value]="venue.state">
          <div >{{venue.state}}</div>
          
        </mat-option>
      </div>

    </mat-select>
  </mat-form-field>
  <p> Selected venue: {{selectedValue}} </p>
</form>

    <div class="eventDiv">
        <div  *ngFor="let event of events">
            <mat-card class="example-card" (click)="openEvent(event.id)">
                <mat-card-header>
                  <mat-card-title>{{ event.short_title }}</mat-card-title>
                  
                </mat-card-header>
                <div class="imageDiv" style="background-image: url({{event.performers[0].image}});">
                  <span class="imageTag">
                    {{event.performers[0].name}}
                  </span><br>
                  <span class="imageTag" id="popularity">
                    {{event.type}}
                  </span>
                </div>
                <mat-card-content class="matDiv">
                  <span class="bookNow"><a href="{{event.url}}">BOOK NOW</a></span>
                  <span class="venue">{{event.venue.city}}</span>
                  <span class="bookNow" id="details"><a routerLink="/events/{{event.id}}" >Details</a></span>
                </mat-card-content>
              </mat-card>
              
          </div>
          
    </div>
   
</div>


